*{
    margin : 0;
    padding: 0;
}

body{
    font-family:'Courier New', Courier, monospace, cursive;
    scroll-behavior:smooth;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

/* NAV-BAR */
#nav-bar{
    height: 17vh;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;

    align-items: center;

}

.logo{
    font-size: 150%;
    font-weight: 600;
}
.nav-links{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color:black;
    text-decoration-color: white;
}
.nav-links a:hover{
    color: rgb(47, 46, 46);
    text-decoration: underline;
    text-decoration-color: rgb(157, 157, 157);
    text-underline-offset: 0.5rem;

}

section{
    padding: 80px 0;
    height: 100%;
    width: 100%;

    row-gap: 40px;
}
/* PROFILE */

#profile{
    display: flex;

    justify-content:center;
    align-items: center;    
    height: 100%;
    width: 100%;

    gap: 2rem;

}

.profile-pic-container{
    width: 35%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-pic{
    width: 35vw;
    height: 60vh;
    border-radius: 60%;
    border: 1px solid black;
}

.profile-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    row-gap: 1rem;

    width: 35%;

}
.profile-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 100%;
    width: 100%;
}
.section-text-p1, .section-text-p2, .profile-text-container h1, .resume-and-contact-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap:10px;
}

.section-text-p1{
    font-size: 60%;
}
.section-text-p2{
    margin-top: 1vh;
    font-size: 90%;
}


/* BUTTONS */

.btn{
    border: 1px solid black;

    font-size: 70%;
    width: 30%;
}
.resume-btn{
    background-color: white;
    padding: 8px 10px;
    transition: background-color 0.4s, color 0.4s;
}
.resume-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}


.contact-btn{
    padding: 8px 10px;
    background-color: black;
    color: white;
    transition: background-color 0.4s, color 0.4s;
}
.contact-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);

}

/* SOCIALS */
.socials-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 50%;

}
.linkedin-div{
    background-color: rgb(22, 179, 240);
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;

    text-align: center;
    cursor: pointer;

    text-wrap:nowrap;

    font-weight: bold;
    font-size: 90%;
}
.github-div{
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border-radius: 15px;

    font-size: 80%;
    font-weight: bold;

    cursor: pointer;
}


/* ABOUT */

#about{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;

}
.about-me-name-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    width: 100%;
    height: 30%;
}


.about-me-container{
    display: flex;
    justify-content:center;
    align-items: center;

    gap: 4vh;


    width: 100%;
    height: 70%;

}
.about-pic-container{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 25%;
    height: 70%;

}
.about-pic{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 1PX solid black;

}


.about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 50%;
    height: 70%;
}

.skills-and-education-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;


}
.skills-container, .education-container{
    border: 1px solid gray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 18px;

    height: 100px;
    width: 30%;

}

.skills-are,  .education-is{
    text-align: center;
    font-size: 55%;
}
.education-badge, .skills-badge{
    border: 2px solid black;
    font-size: 24px;
}


.career-object{
    font-size: 14px;
    padding: 4px 0px;
    line-height: 22px;

}
.arrow{
    position: absolute;
    bottom: 26px;
    right: 26px;
    font-size: 25px;
    cursor: pointer;
}



/* SKILLS */
#skills{
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.skills-head{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;

    row-gap: 14px;

    width: 100%;
    height: 40%;

}


.skills-explore-container{
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    align-items: top;
    
    width: 100%;
    height: 100%;


    

}

.each-skill-container{
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    border: 1px solid rgb(32, 31, 31);

    padding: 10px;

    min-width: 150px;

    width: 100%;
    height: 100%;

}

.skill-li{
    list-style: none;
    display: flex;

    justify-content: top;
    flex-direction: column;

    row-gap: 8px;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 18px;

}
.skill-li li{
    font-size: 16px;
}

.skill-li :first-child{
    font-weight: bold;
}




#projects{
    position: relative;

    display: flex;
    flex-direction: column ;

    justify-content: top;

    align-items:center;

    width: 100%;



    /* row-gap: 40px; */

}

.project-head{
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: 100%;
    height: 25%;

    align-items: center;
    row-gap: 8px;

}

.tag{
    color: gray;
    font-size: 14px;
}

.projects-container{

    display: flex;
    justify-items: center;
    align-items: top;

    column-gap: 20px;
    overflow-y: hidden;
    scrollbar-width: none;

    height: 75%;
    width: 80%;  
    max-width: 800px;  
    min-width: 500px;
    min-height: 300px;


    border: 1px solid gray;

    padding: 30px;


}
.projects-container:hover{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);

}

.each-project-container{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    align-items: center;

    row-gap: 2px;

    width: 80%;
    min-width: 250px;

    height: 70%;
}

.project-pic-container{
    width: 100%;
    height: 80%;
}
.project-pic-container img{
    width: 100%;
    height: 100%;
}
.project-name{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.btn-to-go-to-projects-live{
    display: flex;
    justify-content: space-around;
    align-items: center;

    column-gap: 10px;
    padding-bottom: 4px;
    

}

.github-project-btn, .live-project-btn{
    padding: 6px 12px;
    border-radius: 16px;

    background-color: white;
    width:auto;
}


#contact{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    row-gap: 50vh;


    position: relative;



}

.contact-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    row-gap: 20px;

    width: 100%;
    height: 60%;

}

.contact-me-name{
    font-weight: 600;
}

.contact-details{
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 2rem;

    border: 1px solid black;
    padding: 6px;

    border-radius: 10px;
}
.gmail-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin-container{
    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 6px;
    cursor: pointer;
}


.nav-links-container{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items:center;

}

.arrowUp{
    font-weight:bolder;
    font-size: 30px;
}


@media (min-width:600px){
    @media (max-width: 1000px){
        .projects-container{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

}

@media (min-width:900px){
    @media (max-width: 1050px){
        .resume-btn, .contact-btn{
            width: 33%;
            font-size: 60%;
        }
        .skills-are, .education-is{
            font-size: 50%;
        }
        .profile-text-container h1, .logo{
            font-size: 135%;
        }
        .section-text-p2, .nav-links li a, .career-object,.linkedin-div, .github-div .linkedin-container, .gmail-container{
            font-size: 80%;
        }

        .profile-pic{
            width:30vw;
            height: 50vh;
        }

    }
}


@media (min-width:750px){
    @media (max-width: 901px){
        .resume-btn, .contact-btn{
            width: 33%;
            font-size:45%;
        }
        .profile-text-container h1, .logo{
            font-size: 45%;
        }
        .section-text-p2, .nav-links li a, .linkedin-div, .github-div, .linkedin-container, .gmail-container{
            font-size: 65%;
        }

        .profile-pic{
            height: 45vh;
        }

        .skills-are, .education-is{
            font-size: 40%;
        }

    }
}

@media (min-width:650px){
    @media (max-width: 749px){
        .skills-are, .education-is{
            font-size: 40%;
        }
        .resume-btn, .contact-btn{
            width: 33%;
            font-size:35%;
        }
        .profile-text-container h1, .logo{
            font-size: 100%;
        }
        .section-text-p2, .section-text-p1, .nav-links li a, .linkedin-div, .github-div, .project-name, .linkedin-container, .gmail-container{
            font-size: 45%;
        }

        .profile-pic{
            height: 40vh;
        }

    }
}

@media (max-width: 649px){

    .skills-are, .education-is{
        font-size: 60%;
    }
    .logo{
        font-size: 90%;
    }
    .nav-links{
        column-gap: 10px;
    }
    .nav-links li a{
        font-size: 60%;
        gap: 10px;
    }
    section, .about-me-container, .about-container, .contact-details, #contact{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        width: 95%;
        height: 100%;

        margin: 20px 0;

        row-gap: 10px;
    }

    .about-pic-container{
        width: 80%;
    }
    .about-container{
        width: 100%;

    }
    .career-object{
        height: 50%;
        width: 90%;
    }
    .skills-and-education-container{
        height: 50%;
        width: 90%;
    }
    .education-container, .skills-container{
        width: 35%;
        height: 100px;
    }

    .profile-pic-container{
        width: 70%;
        height: 60vh;
}
    .profile-pic{
        width: 100%;
        height: 100%;
    }
    .profile-container{
        width: 100%;
        height: 100%;
    }

    .skills-explore-container{
        display: flex;
        flex-wrap: wrap;

    }
    .each-skill-container{
        width: 200px;
        min-height: 150px;
    }

    .projects-container{
        max-height: 300px;
        
    }
    .each-project-container{
        height: auto;
        width: auto;
    }

    #contact{
        row-gap: 30vh;
        padding-bottom: 10px;
    }

  
}
