*{
    margin : 0;
    padding: 0;
}

body{
    font-family:'Courier New', Courier, monospace, cursive;
    font-weight: 600;
    scroll-behavior:smooth;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    transition: all cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out;
}


/* WELCOME HOME KEY-FRAMES CODE */
#welcome{
    text-align: center;
    font-family: Cochin;

    margin: 0px;
    animation-name: animate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-play-state: running ;
    border-bottom: 1px solid black;
    width: 100%;
}
@keyframes animate{
    0%{
        opacity: 0;
        height: 50px;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
        height: 50px;
    }
    85%{
        opacity: 0;
        height: 50px;
    }
    100%{
        opacity: 0;
        height: 0px;
    }
}




button{
    font-family: 'Courier New', Courier, monospace;
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);

}

.linkedin-container, .linkedin-div, .gmail-container, .section-text-p1,  .resume-btn, .contact-btn{
    color: black;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.github-project-btn a{
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.live-project-btn a{
    font-size: 12px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: 600;
}

.live-project-btn:hover, .live-project-btn:hover a{
    background-color: black;
    color: white;

}

a:hover,  button:hover a
{

    background-color: white;
    color: brown;
    cursor: pointer;
    font-weight: bold;
}







/* NAV-BAR */
#nav-bar{
    height: 17vh;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;

    align-items: center;

    width: 100%;

}

.logo{
    font-size: 150%;
    font-weight: 600;
}
.nav-links{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color:black;
    text-decoration-color: white;
}
.nav-links a:hover{
    color: rgb(47, 46, 46);
    text-decoration: underline;
    text-decoration-color: rgb(157, 157, 157);
    text-underline-offset: 0.5rem;

}

section{
    padding: 80px 0;
    height: 100%;
    width: 100%;

    row-gap: 40px;
}
/* PROFILE */

#profile{
    display: flex;

    justify-content:center;
    align-items: center;    
    height: 100%;
    width: 100%;

    gap: 2rem;

}

.profile-pic-container{
    width: 100%;
    height: 350px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 350px;
    max-height: 350px;
}

.profile-pic{
    width: 100%;
    height: 100%;
    border-radius: 60%;
    border: 1px solid black;

    object-fit: cover;
    object-position: center;
}

.profile-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    row-gap: 1rem;

    width: 35%;

}
.profile-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 100%;
    width: 100%;
}
.section-text-p1, .section-text-p2, .profile-text-container h1, .resume-and-contact-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap:10px;
}

.section-text-p1{
    font-size: 80%;
}
.section-text-p2{
    margin-top: 1vh;
    font-size: 90%;
    font-weight: 600;
}


/* BUTTONS */

.btn{
    border: 1px solid black;

    font-size: 70%;
    width: 30%;
}

.resume-and-contact-container{
    width: 100%;
}
.resume-btn{
    background-color: white;
    padding: 8px 10px;
    transition: background-color 0.4s, color 0.4s;
    width: 45%;
}
.resume-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}


.contact-btn{
    width: 45%;
    padding: 8px 10px;
    background-color: black;
    color: white;
    transition: background-color 0.4s, color 0.4s;
}
.contact-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);

}

/* SOCIALS */
.socials-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 50%;

}
.linkedin-div{
    background-color: rgb(22, 179, 240);
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;

    text-align: center;
    cursor: pointer;

    text-wrap:nowrap;

    font-weight: bold;
    font-size: 90%;
}
.github-div{
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border-radius: 15px;

    font-size: 80%;
    font-weight: bold;

    cursor: pointer;
}


/* ABOUT */

#about{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;

}
.about-me-name-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    width: 100%;
    height: 30%;
}


.about-me-container{
    display: flex;
    justify-content:center;
    align-items: center;

    gap: 4vh;

    width: 100%;
    height: 70%;

}
.about-pic-container{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 45%;
    height: 70%;
    max-width: 250px;
    max-height: 250px;
    height: 250px;

}
.about-pic{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    max-width: 250px;
    max-height: 250px;
    border: 1PX solid black;

}


.about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 50%;
    height: 70%;
}

.skills-and-education-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;


}
.skills-container, .education-container{
    border: 1px solid gray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 18px;

    height: 100px;
    width: 30%;

}

.skills-are,  .education-is{
    text-align: center;
    font-size: 55%;
    font-weight: 600;
}
.education-badge, .skills-badge{
    border: 2px solid black;
    font-size: 22px;
}


.career-object{
    font-size: 18px;
    font-weight: 600;
    padding: 4px 0px;
    line-height: 22px;
    width: 100%;

}
.arrow{
    position: absolute;
    bottom: 26px;
    right: 26px;
    font-size: 25px;
    cursor: pointer;
}



/* SKILLS */
#skills{
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.skills-head{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;

    row-gap: 14px;

    width: 100%;
    height: 40%;

}


.skills-explore-container{
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    align-items: top;
    
    width: 100%;
    height: 100%;


    

}

.each-skill-container{
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    border: 1px solid rgb(32, 31, 31);

    padding: 10px;

    min-width: 150px;

    width: 100%;
    height: 100%;

}

.skill-li{
    list-style: none;
    display: flex;

    justify-content: top;
    flex-direction: column;

    row-gap: 8px;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 18px;

}
.skill-li li{
    font-size: 16px;
}

.skill-li :first-child{
    font-weight: bold;
}


#projects{
    position: relative;

    display: flex;
    flex-direction: column ;

    justify-content: top;

    align-items:center;

    width: 100%;



    /* row-gap: 40px; */

}

.project-head{
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: 100%;
    height: 25%;

    align-items: center;
    row-gap: 8px;

}

.tag{
    color: rgb(94, 93, 93);
    font-size: 12px;
}

.projects-container{

    display: flex;
    justify-items: center;
    align-items: top;

    column-gap: 20px;
    overflow-y: hidden;
    scrollbar-width: none;

    height: 75%;
    width: 80%;  
    max-width: 800px;  
    min-width: 500px;
    min-height: 400px;


    border: 1px solid gray;

    padding: 30px;


}
.projects-container:hover{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);

}

.each-project-container{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    align-items: center;

    row-gap: 2px;

    width: 80%;
    min-width: 250px;
    min-height: 380px;

    height: 70%;
}

.project-pic-container{
    border: 1px solid gray;
    width: 100%;
    height: 80%;
}
.project-pic-container img{
    width: 100%;
    height: 100%;
    min-height: 300px;
}
.project-name{
    text-align: center;
    font-size: 14px;
    height: 10%;
    font-weight: 600;
}

.btn-to-go-to-projects-live{
    display: flex;
    justify-content: space-around;
    align-items: center;

    column-gap: 10px;
    padding-bottom: 4px;
    

}

.github-project-btn, .live-project-btn{
    padding: 4px 8px;
    border-radius: 16px;

  
    width:auto;
}

.github-project-btn{
    background-color: black;
    color: white;
}
.github-project-btn:hover{
    background-color: white;
    color: black;
}


#contact{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    row-gap: 100px;


    position: relative;


}

.contact-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    row-gap: 20px;

    width: 100%;
    height: 60%;

}

.contact-me-name{
    font-weight: 600;
}

.contact-details{
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 2rem;

    border: 1px solid black;
    padding: 6px;

    border-radius: 10px;
}
.gmail-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin-container{
    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 6px;
    cursor: pointer;
}


.nav-links-container{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items:center;

}

.arrowUp{
    font-weight:bolder;
    font-size: 30px;
}


#hamburgerMain{
    justify-content: right;
    align-items: right;
    position: relative;


        display: none;


    
}

.hamburgerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    justify-content: space-around;
    cursor: pointer;
}

span{
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease-in-out;


}

.menu-info{
    position: absolute;
    border: 1px solid lightsteelblue;
    padding:  10px 20px;
    top: 100%;
    display: none;
    transition: all 0.3s ease-in-out;

    background-color: white;

}

.hamburgerMenu.open span:first-child {
    transform: rotate(45deg) translate(8px, 6px);

}
.hamburgerMenu.open span:nth-child(2){
    opacity: 0;
}
.hamburgerMenu.open span:last-child{
    transform: rotate(-45deg) translate(8px, -6px);
}

.menu-info.open{
    display: flex;
    flex-direction: column;
}

.menu-info div{
    cursor: pointer;
}
.menu-info a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.4s ease-in-out;
}
.menu-info a:hover{
    color: black;
}


@media (max-width: 900px){

    .nav-links{
        display: none;
    }
    #hamburgerMain{
        display: flex;
    }


}


@media (max-width: 1150px){
    

    .resume-and-contact-container{
        width: 100%;
    }
    .resume-btn, .contact-btn{
        width: 45%;
        font-size:65%;
    }


    @media (min-width:900px){

        .skills-are, .education-is{
            font-size: 50%;
        }
        
        .nav-links li a, .career-object,.linkedin-div, .github-div .linkedin-container, .gmail-container{
            font-size: 80%;
        }

       
        .career-object{
            font-size: 90%;
        }

    }
}



@media (max-width: 901px){



        @media (min-width:750px){
        .linkedin-div, .github-div, .linkedin-container, .gmail-container{
            font-size: 65%;
        }


        .skills-are, .education-is{
            font-size: 40%;
        }
        .career-object{
            font-size: 60%;
        }

    }
}

@media (max-width: 749px){

    section, .about-me-container, .about-container, .contact-details, #contact, #profile{
        display: flex;
        flex-direction: column;

        justify-content: space-around;
        align-items: center;

        width: 95%;
        height: 100%;
    
        row-gap: 10px;
    }

    #profile{
        max-width: 350px;         
        height: 100%;
    }

    .profile-pic-container, .profile-container, .about-pic-container{
        max-width: 350px;
        width: 100%;
    }



        @media (min-width:650px){
       
        
        
        .profile-text-container{
            width: 100%;
        }

        .career-object{
            height: 50%;
            width: 100%;
            font-size: 80%;
        }

        .gmail-container, .linkedin-container{
            font-size: 70%;
        }

    }
}

@media (max-width: 649px){

    
    section, .about-me-container, .about-container, .contact-details, #contact{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        width: 95%;
        height: 100%;

        margin: 20px 0;

        row-gap: 10px;
    }

   
    .about-container{
        width: 100%;

    }
    .career-object{
        height: 50%;
        width: 100%;
        font-size: 80%;
    }
    .skills-and-education-container{
        height: 50%;
        width: 90%;
    }
    .education-container, .skills-container{
        width: 35%;
        height: 100px;
    }

    


    .profile-pic{
        width: 100%;
        height: 100%;
    }
    .profile-container{
        width: 100%;
    }

    .skills-explore-container{
        display: flex;
        flex-wrap: wrap;

    }
    .each-skill-container{
        width: 200px;
        min-height: 150px;
    }

    .projects-container{
        max-height: 300px;
        
    }
    .each-project-container{
        height: auto;
        width: auto;
    }

    #contact{
        row-gap: 30vh;
        padding-bottom: 10px;
    }

    .gmail-container, .linkedin-container{
        font-size: 60%;
    }

    

  
}


@media (max-width: 530px){
    

    .profile-pic-container, .about-pic-container{
        width: 300px;
        height: 300px;
    }
    .profile-pic{
        width: 100%;
        height: 100%;
    }

    .projects-container{
        width: 450px;
        max-height: 300px;
        max-width: 450px;
    }
    .each-project-container{
        max-height: 250px;
        max-width: 250px;
    }
}

@media (max-width: 450px){

    .profile-pic-container, .about-pic-container{
        width: 250px;
        height: 250px;
    }
}
